<div id="forgot-password-page">
  <div style="display: none;"><app-theme-switcher></app-theme-switcher></div>
  <div class="forgot-container full-rlt-container">
    <div class="forgot-password-left-container full-rlt-container">
      <div class="forgot-password-left-container-content">
        <div class="twodo-logo-container">
          <img [src]="logoPath" alt="TwoDo Logo" class="twodo-logo-img" />
        </div>
        <div class="forgot-password-form-header">
          <h3>Esqueceu sua senha?</h3>
          <p>Informe abaixo o e-mail cadastrado. Você receberá um link para redefinir sua senha</p>
        </div>
        <form [formGroup]="form" class="forgot-password-form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <nz-form-item>
              <nz-form-control>
                <label for="email">E-mail</label>
                <input nz-input formControlName="email" id="email" placeholder="Insira seu e-mail" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <button nz-button nzType="primary" type="submit" [nzLoading]="isSendingEmail"
            [disabled]="form.invalid || isSendingEmail">
            {{ isSendingEmail ? 'Recuperando...' : 'Recuperar conta' }}
          </button>
          <p style="text-align: center;" class="small-p">
            Não precisa mais recuperar ? <a class="in-link" href="/login">Acesse sua conta</a>
          </p>
        </form>
      </div>
    </div>
    <div class="forgot-password-right-container full-rlt-container"></div>
  </div>
</div>