$breakpoint-mobile: 1000px;

/* ==============================
   Container principal da página
============================== */
#email-page {
    display: flex;
    width: 100vw;
    height: 100vh;

    .email-page-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        @media (max-width: $breakpoint-mobile) {
            grid-template-columns: 1fr;
        }

        /* ==============================
       Imagem lateral esquerda
    ============================== */
        .email-left-container {
            display: flex;
            background-image: url('/assets/images/page-components-images/login-component/twodo-login-background.svg');
            background-size: cover;

            @media (max-width: $breakpoint-mobile) {
                display: none;
            }
        }

        /* ==============================
       Conteúdo do lado direito
    ============================== */
        .email-right-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;

            .email-right-container-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-width: 30vw;
                gap: 1.5rem;

                /* ==============================
           Logo
        ============================== */
                .twodo-logo-container {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    margin-bottom: 1.5rem;

                    @media (max-width: $breakpoint-mobile) {
                        margin-bottom: 0;
                    }

                    .twodo-logo-img {
                        max-height: 2.5rem;
                        height: 2.5rem;
                        border-radius: 5px;
                    }
                }

                /* ==============================
           Cabeçalho de mensagem
        ============================== */
                .login-form-header {
                    display: flex;
                    gap: 0.5rem;
                    flex-direction: column;

                    h3 {
                        font-size: var(--font-size-2xl);
                        color: var(--primary-text);
                        font-weight: 600;
                        margin: 0;
                        line-height: 1.5;
                    }

                    p {
                        color: var(--secondary-text);
                    }
                }
            }
        }
    }

    /* ==============================
     Estilização de texto e links
  ============================== */
    .small-p {
        color: var(--secondary-text);
        font-size: var(--font-size-small);
    }

    .in-link {
        font-size: var(--font-size-small);
        color: var(--primary);
        cursor: pointer;

        &:hover {
            color: var(--primary-light);
        }
    }
}