<div id="email-page">
  <div class="email-page-container full-rlt-container">
    <div class="email-left-container full-rlt-container"></div>
    <div class="email-right-container full-rlt-container">
      <div class="email-right-container-content">
        <div class="twodo-logo-container">
          <img [src]="logoPath" alt="TwoDo Logo" class="twodo-logo-img" />
        </div>
        <div class="login-form-header">
          <h3>Verifique seu E-mail</h3>
          <p>Acesse sua caixa de entrada e clique no link para ativar sua conta.</p>
        </div>     
        <button nz-button nzType="primary" (click)="goToLogin()">Ir para Login</button>
      </div>
    </div>
  </div>
</div>