<div class="trash-modal-backdrop" (click)="handleBackdropClick($event)">
  <div class="trash-modal" (click)="$event.stopPropagation()">
    <nz-input-group [nzSuffix]="searchIcon">
      <input nz-input placeholder="Pesquisar anotações na lixeira" [value]="search()"
        (input)="updateSearch($any($event.target).value)" nzAllowClear />
    </nz-input-group>

    <ng-template #searchIcon>
      <span class="iconify-20px search-icon"></span>
    </ng-template>

    <div class="trash-list" *ngIf="filteredNotes().length">
      <div *ngFor="let note of filteredNotes()" class="trash-note">
        <div class="note-info">
          <ng-container *ngIf="note.iconUrl as icon; else defaultIcon">
            <ng-container *ngIf="!icon.startsWith('http'); else iconImage">
              <span class="emoji-note-icon">{{ icon }}</span>
            </ng-container>
            <ng-template #iconImage>
              <img [src]="icon" class="custom-note-icon" alt="Ícone da nota" />
            </ng-template>
          </ng-container>

          <ng-template #defaultIcon>
            <span class="iconify-20px note-icon"></span>
          </ng-template>

          <p class="note-title">{{ note.title || 'Nova página' }}</p>
        </div>
        <div class="note-actions">
          <button class="icon-button" (click)="restore(note.id)">
            <span class="iconify-1rem return-icon"></span>
          </button>

          <button nz-popconfirm [nzPopconfirmTitle]="'Excluir permanentemente esta página?'"
            [nzPopconfirmPlacement]="'bottomRight'" [nzOkText]="'Excluir'" [nzCancelText]="'Cancelar'"
            [nzOkDanger]="true" [nzIcon]="undefined" (nzOnConfirm)="permanentlyDelete(note.id)" nz-button
            class="icon-button">
            <span class="iconify-1rem trash-icon"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="trash-footer" *ngIf="filteredNotes().length">
      <p class="notes-count">
        Total de <span>{{ filteredNotes().length }}</span> anotações encontradas
      </p>

      <span nz-popconfirm [nzPopconfirmTitle]="'Tem certeza que deseja excluir todas as notas permanentemente?'"
        [nzPopconfirmPlacement]="'bottomRight'" [nzOkText]="'Excluir todas'" [nzCancelText]="'Cancelar'"
        [nzOkDanger]="true" [nzIcon]="undefined" (nzOnConfirm)="permanentlyDeleteAll()" class="delete-all-action">
        Deletar tudo
      </span>
    </div>
  </div>
</div>