.note-page-container {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 100%;
  position: relative;
  max-height: calc(100% - 44px);
}

.note-content-wrapper {
  display: grid;
  grid-template-columns: minmax(96px, 1fr) minmax(auto, 708px) minmax(96px, 1fr);
  padding-bottom: 30vh;
}

.note-content-container {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  position: relative;
}

.note-content-container {
  width: 100%;
  max-width: 708px;
  margin-top: 2px;
  margin-bottom: 0;
}