<div class="toolbar-container">
  <div *ngIf="isCollapsed" nz-tooltip [nzTooltipTitle]="tooltipTemplateOpenSidemenu" (click)="toggleSidemenu.emit()"
    class="expand-sidemenu">
    <span class="iconify-20px open-sidemenu-icon"></span>
  </div>
  <div *ngIf="isInNotePage" class="in-note-page-container">
    <button class="note-name-btn" nz-dropdown nzTrigger="click" [nzDropdownMenu]="changeNoteTitle">
      <span class="note-title-text">
        {{ noteTitle || "Nova página" }}
      </span>
    </button>

    <button class="favorite-btn" (click)="toggleFavorite()" nz-tooltip [nzTooltipTitle]="favoriteTooltip">
      <span class="iconify-20px" [ngClass]="isFavorite ? 'star-fill-icon' : 'star-no-fill-icon'"></span>
    </button>
  </div>
</div>

<nz-dropdown-menu #changeNoteTitle="nzDropdownMenu">
  <div class="note-title-dropdown">
    <nz-input-group [nzSuffix]="editIcon">
      <input nz-input [(ngModel)]="draftTitle" (input)="onTitleInputChange(draftTitle)" type="text"
        placeholder="Alterar título da anotação..." />
    </nz-input-group>

    <ng-template #editIcon>
      <span class="iconify-20px edit-icon"></span>
    </ng-template>
  </div>
</nz-dropdown-menu>

<ng-template #tooltipTemplateOpenSidemenu>
  <span class="tooltip-content">
    Abrir menu <span class="tooltip-action">(Clique)</span>
  </span>
</ng-template>

<ng-template #favoriteTooltip>
  <span class="tooltip-content">
    {{ isFavorite ? 'Remover dos favoritos' : 'Adicionar aos favoritos' }}
  </span>
</ng-template>