::ng-deep .in-main-layout {
    min-height: 100vh;
    background-color: var(--background);

    .ant-layout-sider {
        background: var(--secondary-background);
        transition: all 0s ease-in-out;
    }

    .ant-layout-content {
        background: var(--background);
    }

    .sidemenu-resizer-overlay {
        height: 100vh;
        position: absolute;
    }

    .main-toolbar {
        width: 100%;
        width: 100%;
        min-width: 0px;
        width: auto;
        max-width: 100vw;
        height: 32px;
        transition: all 0.7s ease;
        position: relative;
        left: 0px;
        top: 0;
        transition: all 0.2s ease-in;
        display: flex;
        align-items: center;
        margin: 6px 0;
        gap: 0.25rem;
    }

    .main {
        width: calc(100% - 10px);
        height: calc(100% - 44px);
        min-width: calc(100% - 10px);
        min-height: calc(100% - 44px);
        max-width: calc(100% - 10px);
        max-height: calc(100% - 44px);
        position: relative;
    }
}