/* ==============================
   Layout principal
============================== */
::ng-deep .in-main-layout {
  min-height: 100vh;
  background-color: var(--background);

  /* ==============================
     Sider (barra lateral)
  ============================== */
  .ant-layout-sider {
    background: var(--secondary-background);
    transition: all 0s ease-in-out;
  }

  /* ==============================
     Conteúdo (nz-content)
  ============================== */
  .ant-layout-content {
    background: var(--background);
  }

  /* Overlay do redimensionador */
  .sidemenu-resizer-overlay {
    position: absolute;
    height: 100vh;
  }

  /* ==============================
     Toolbar superior
  ============================== */
  .main-toolbar {
    position: relative;
    height: 32px;
    margin: 6px 0;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    transition: all 0.2s ease-in;
  }

  /* ==============================
     Conteúdo roteado
  ============================== */
  .main {
    position: relative;
    width: 100%;
    height: calc(100vh - 44px);
    overflow: auto;
  }
}