$color-primary: #1037B8;
$color-primary-light: #254dd1;
$color-primary-dark: #001679;

$color-success: #52c41a;
$color-warning: #faad14;
$color-error: #F92945;
$color-info: #1890ff;

@mixin theme-light {
  --primary: #{$color-primary};
  --primary-light: #{$color-primary-light};
  --primary-dark: #{$color-primary-dark};
  --primary-contrast: #000000;

  --background: #ffffff;
  --background-secondary: #efefef;
  --background-terciary: #f5f5f5;

  --surface: #ffffff;
  --surface-secondary: #fafafa;
  --surface-hover: #f5f5f5;
  --surface-active: #e6f7ff;

  --primary-text: #000000;
  --secondary-text: #595959;
  --disabled-text: #bfbfbf;
  --hint-text: #8c8c8c;
  --text-on-primary: #ffffff;

  --border: #d9d9d9;
  --border-light: #f0f0f0;
  --border-dark: #bfbfbf;

  --sidemenu-hover: rgba(0, 0, 0, 0.07);
  --sidemenu-focus: rgba(0, 0, 0, 0.14);

  --contrast: #060606;
  --contrast-text: #ffffff;

  --shadow: rgba(0, 0, 0, 0.1);
  --shadow-light: rgba(0, 0, 0, 0.06);
  --shadow-dark: rgba(0, 0, 0, 0.15);
  --shadow-elevation: 0 2px 8px rgba(0, 0, 0, 0.5);

  --success: #{$color-success};
  --warning: #{$color-warning};
  --error: #{$color-error};
  --info: #{$color-info};

  --success-bg: #f6ffed;
  --warning-bg: #fffbe6;
  --error-bg: #fff2f0;
  --info-bg: #e6f7ff;

  --hover-opacity: 0.8;
  --active-opacity: 0.9;
  --disabled-opacity: 0.4;

  --font-size-xsmall: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.5rem;
  --font-size-4xl: 3rem;
}

@mixin theme-dark {
  --primary: #{$color-primary};
  --primary-light: #{$color-primary-light};
  --primary-dark: #{$color-primary-dark};
  --primary-contrast: #ffffff;

  --background: #161616;
  --background-secondary: #202020;
  --background-terciary: #262626;

  --surface: #141414;
  --surface-secondary: #1f1f1f;
  --surface-hover: #262626;
  --surface-active: #177ddc;

  --primary-text: #ffffff;
  --secondary-text: #a6a6a6;
  --disabled-text: #434343;
  --hint-text: #595959;
  --text-on-primary: #ffffff;

  --border: #434343;
  --border-light: #303030;
  --border-dark: #595959;

  --sidemenu-hover: rgba(255, 255, 255, 0.05);
  --sidemenu-focus: rgba(255, 255, 255, 0.1);

  --contrast: #060606;
  --contrast-text: #ffffff;

  --shadow: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(0, 0, 0, 0.2);
  --shadow-dark: rgba(0, 0, 0, 0.5);
  --shadow-elevation: 0 2px 8px rgba(0, 0, 0);

  --success: #{$color-success};
  --warning: #{$color-warning};
  --error: #{$color-error};
  --info: #{$color-info};

  --success-bg: #162312;
  --warning-bg: #2b2111;
  --error-bg: #2a1215;
  --info-bg: #111b26;

  --hover-opacity: 0.8;
  --active-opacity: 0.9;
  --disabled-opacity: 0.4;

  --font-size-small: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.5rem;
  --font-size-4xl: 3rem;
}

html.theme-light,
:root {
  @include theme-light;
}

html.theme-dark {
  @include theme-dark;
}

.theme-light {
  @include theme-light;
}

.theme-dark {
  @include theme-dark;
}