/* ==============================
   Wrapper principal
============================== */
.recent-notes-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .section-label {
        font-size: var(--font-size-small);
        font-weight: 500;
        color: var(--secondary-text);
        display: flex;
        align-items: center;
    }

    .note-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 1000px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .note-card {
        width: 124px;
        height: 118px;
        border-radius: 5px;
        overflow: hidden;
        background: var(--background-secondary);
        text-align: left;
        cursor: pointer;
        transition: all 0.3s ease;
        display: inline-block;
        border: solid 1px transparent;

        &:hover {
            border: solid 1px var(--border);
        }

        .note-banner {
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            background-color: var(--background-terciary);
            margin-bottom: 20px;
        }

        .iconify-20px,
        .emoji-icon,
        .img-icon {
            font-size: 2rem;
            width: 2rem;
            height: 2rem;
            border-radius: 4px;
            object-fit: cover;
            top: 100%;
            left: 0.5rem;
            transform: translateY(-50%);
            position: absolute;
        }

        .note-title {
            font-size: var(--font-size-small);
            padding: 0.5rem;
            color: var(--primary-text);
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

/* ==============================
   Card para nova nota
============================== */
.add-card {
    width: 124px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-secondary);
    border-radius: 5px;
    border: solid 1px transparent;
    transition: all 0.3s ease;

    span {
        background-color: var(--secondary-text);
        transition: all 0.3s ease;
    }

    &:hover {
        cursor: pointer;
        border: solid 1px var(--border);

        span {
            background-color: var(--primary-text);
        }
    }
}