<div id="login-page">
    <div style="display: none;"><app-theme-switcher></app-theme-switcher></div>
    <div class="login-page-container full-rlt-container">
        <div class="login-left-container full-rlt-container">
            <div class="login-left-container-content">
                <div class="twodo-logo-container">
                    <img src="/twodo-logos/twodo-logo.svg" alt="TWODO Logo" class="twodo-logo-img">
                    <h1 class="twodo-logo">TWODO</h1>
                </div>
                <div class="login-form-header">
                    <h3>Acesse sua conta</h3>
                    <p>Bem-vindo de volta! Selecione o método para fazer login</p>
                </div>
                <form class="login-form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <nz-form-item>
                            <nz-form-control>
                                <label for="email">E-mail</label>
                                <input nz-input type="email" id="email" class="form-control" placeholder="Insira seu e-mail"
                                    required>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="form-group">
                        <nz-form-item>
                            <nz-form-control>
                                <label for="password">Senha</label>
                                <nz-input-group>
                                    <input nz-input id="password" class="login-form-input"
                                        placeholder="Insira sua senha" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="form-group">
                        <div class="form-group-checkbox">
                            <label nz-checkbox ><p class="small-p">Lembrar-me</p></label>
                        </div>
                    </div>
                    <button nz-button nzType="primary" type="submit">Entrar</button>
                </form>
                <div class="login-with-division">
                    <span class="inline-effect"></span>
                    <p>Ou prossiga com:</p>
                    <span class="inline-effect"></span>
                </div>
                <div class="login-form-header-login-with">
                    <button class="login-with-btn">
                        <img src="/page-components-images/login-component/login-google-icon.svg" alt="Ícone Google">
                        <p>Google</p>
                    </button>
                </div>
                <p style="text-align: center;" class="small-p">Não possui uma conta? <a class="in-link">Crie uma conta</a></p>
            </div>
        </div>
        <div class="login-right-container full-rlt-container">
        </div>
    </div>
</div>