<div id="login-page">
    <div style="display: none;"><app-theme-switcher></app-theme-switcher></div>
    <div class="login-page-container full-rlt-container">
        <div class="login-left-container full-rlt-container">
            <div class="login-left-container-content">
                <div class="twodo-logo-container">
                    <img [src]="logoPath" alt="TwoDo Logo" class="twodo-logo-img" />
                </div>
                <div class="login-form-header">
                    <h3>Acesse sua conta</h3>
                    <p>Bem-vindo de volta! Selecione o método para fazer login</p>
                </div>
                <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <nz-form-item>
                            <nz-form-control>
                                <label for="email">E-mail</label>
                                <input nz-input type="email" id="email" formControlName="email" class="form-control"
                                    placeholder="Insira seu e-mail" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="form-group">
                        <nz-form-item>
                            <nz-form-control>
                                <label for="password">Senha</label>
                                <nz-input-group>
                                    <input nz-input id="password" formControlName="password"
                                        [type]="passwordVisible ? 'text' : 'password'" class="login-form-input"
                                        placeholder="Insira sua senha" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="form-group remember-and-forgot-container">
                        <div class="form-group-checkbox">
                            <label nz-checkbox formControlName="rememberMe">
                                <p class="small-p">Lembrar-me</p>
                            </label>
                        </div>
                        <a class="in-link">Esqueceu a senha?</a>
                    </div>
                    <button nz-button nzType="primary" type="submit">Entrar</button>
                </form>
                <div class="login-with-division">
                    <span class="inline-effect"></span>
                    <p>Ou prossiga com</p>
                    <span class="inline-effect"></span>
                </div>
                <div class="login-form-header-login-with">
                    <button class="login-with-btn" (click)="handleGoogleLogin()">
                        <img src="assets/images/page-components-images/login-component/login-google-icon.svg"
                            alt="Ícone Google" />
                        <p>Google</p>
                    </button>
                </div>
                <p style="text-align: center;" class="small-p">
                    Não possui uma conta? <a class="in-link" href="/register">Crie uma conta</a>
                </p>
            </div>
        </div>
        <div class="login-right-container full-rlt-container"></div>
    </div>
</div>