$breakpoint-mobile: 768px;

#login-page {
    display: flex;
    width: 100vw;
    height: 100vh;

    .login-page-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        @media (max-width: $breakpoint-mobile) {
            grid-template-columns: 1fr;
        }

        .login-left-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;

            .login-left-container-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 600px;
                min-width: 30vw;
                gap: 1.5rem;

                .twodo-logo-container {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .twodo-logo-img {
                        max-height: 2rem;
                        height: 2rem;
                        border-radius: 4px;
                    }

                    .twodo-logo {
                        font-weight: 900;
                        font-family: 'Inter', sans-serif;
                        letter-spacing: -3.2px;
                        font-size: var(--font-size-xxlarge);
                        color: var(--primary-contrast);
                    }
                }

                .login-form-header {
                    display: flex;
                    gap: 0.5rem;
                    flex-direction: column;

                    h3 {
                        font-size: var(--font-size-xxlarge);
                        color: var(--primary-text);
                        font-weight: 600;
                        margin: 0;
                        line-height: 1.5;
                    }

                    p {
                        color: var(--secondary-text);
                    }
                }

                .login-form-header-login-with {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 1rem;
                    width: 100%;
                    position: relative;

                    .login-with-btn {
                        width: 100%;
                        height: 2.5rem;
                        background-color: var(--background);
                        border: solid 1px var(--border);
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        cursor: pointer;
                        transition: all 0.3s ease;

                        p {
                            color: var(--secondary-text);
                            font-weight: 600;
                            transition: all 0.3s ease;
                        }

                        &:hover {
                            border-color: var(--border-dark);
                            background-color: var(--surface-secondary);

                            p {
                                color: var(--primary-text);
                            }
                        }

                        img {
                            height: 1.5rem;
                        }
                    }
                }

                .login-with-division {
                    display: grid;
                    grid-template-columns: 1fr auto 1fr;
                    gap: 1rem;
                    align-items: center;
                    position: relative;
                    width: 100%;

                    p {
                        color: var(--secondary-text);
                        text-align: center;
                        font-size: var(--font-size-small);
                        cursor: default;
                    }

                    .inline-effect {
                        width: 100%;
                        height: 1px;
                        background-color: var(--border);
                    }
                }

                .login-form {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                }
            }
        }

        .login-right-container {
            display: flex;
            background-image: url('../../../../../../public/page-components-images/login-component/twodo-login-background.svg');
            background-size: cover;

            @media (max-width: $breakpoint-mobile) {
                display: none;
            }
        }
    }

    .small-p {
        color: var(--secondary-text);
        font-size: var(--font-size-small);

        a {
            font-size: var(--font-size-small);
            color: var(--primary);

            &:hover {
                color: var(--primary-light);
            }
        }
    }
}