#login-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 2rem;

    .login-page-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        .login-right-container {
            display: flex;
            background-image: url('../../../../../../public/twodo-page-components-images/login-component/twodo-login-background.svg');
            background-size: cover;
            border-radius: 16px;
        }
    }
}

