<div id="reset-password-page">
  <div style="display: none;"><app-theme-switcher></app-theme-switcher></div>
  <div class="reset-password-page-container full-rlt-container">
    <div class="reset-password-left-container full-rlt-container">
      <div class="reset-password-left-container-content">
        <div class="twodo-logo-container">
          <img [src]="logoPath" alt="TwoDo Logo" class="twodo-logo-img" />
        </div>
        <div class="reset-password-form-header">
          <h3>Redefinir senha</h3>
          <p>Crie uma nova senha segura para sua conta</p>
        </div>

        <form [formGroup]="resetForm" class="reset-form" (ngSubmit)="onSubmit()">
          <div *ngIf="true">
            <nz-form-item>
              <nz-form-control>
                <label for="password">Nova senha</label>
                <div class="password-input-wrapper">
                  <input nz-input [type]="passwordVisible ? 'text' : 'password'" id="password"
                    formControlName="password" placeholder="Digite sua nova senha" (input)="checkPasswordStrength()" />
                  <span class="toggle-password-btn iconify-1rem" (click)="togglePasswordVisibility()"
                    [ngClass]="passwordVisible ? 'material-design-eye' : 'material-design-eye-closed'">
                  </span>
                </div>

                <div class="password-strength-bar">
                  <div class="bar" [ngClass]="{
            'very-weak': passwordStrength === 1,
            'weak': passwordStrength === 2,
            'medium': passwordStrength === 3,
            'strong': passwordStrength === 4
          }"></div>
                </div>

                <div class="password-strength-container">
                  <p class="password-strength-text">
                    {{
                    passwordStrength === 1 ? 'Muito fraca' :
                    passwordStrength === 2 ? 'Fraca' :
                    passwordStrength === 3 ? 'Forte' :
                    passwordStrength === 4 ? 'Extremamente forte' : ''
                    }}
                  </p>
                  <ul class="password-checklist">
                    <li>Sua senha deve conter ao menos 3 dos critérios abaixo:</li>
                    <li [ngClass]="{ met: passwordChecks.length }">• Pelo menos 10 caracteres</li>
                    <li [ngClass]="{ met: passwordChecks.letters }">• Contém letras (a-z, A-Z)</li>
                    <li [ngClass]="{ met: passwordChecks.numbers }">• Contém números (0-9)</li>
                    <li [ngClass]="{ met: passwordChecks.special }">• Contém caracteres especiais (!&#64;#$%...)</li>
                  </ul>
                </div>
              </nz-form-control>
            </nz-form-item>

            <div class="step-buttons">
              <button nz-button nzType="primary" block type="submit">Salvar nova senha</button>
            </div>
          </div>

          <p style="text-align: center;" class="small-p">
            Lembrou da senha? <a class="in-link" href="/login">Entre agora</a>
          </p>
        </form>
      </div>
    </div>
    <div class="reset-password-right-container full-rlt-container">
    </div>
  </div>
</div>