.search-modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5vh;
}

.search-modal {
    background: var(--background);
    border-radius: 10px;
    padding: 1rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 24px var(--shadow);
    z-index: 1001;
    gap: 0.5rem;

    * {
        transition: all 0.3s ease;
    }
}

.notes-list {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
}

.note-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 2.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    cursor: pointer;

    .note-title {
        color: var(--secondary-text);
        font-size: var(--font-size-small);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .note-icon {
        background-color: var(--secondary-text);
    }

    .custom-note-icon {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        object-fit: cover;
        margin-right: 8px;
        flex-shrink: 0;
        transition: all 0.3s ease;
    }

    .emoji-note-icon {
        font-size: var(--font-size-small);
        line-height: 1;
        margin-right: 8px;
        flex-shrink: 0;
    }

    &:hover {
        background-color: var(--background-secondary);

        .note-title {
            color: var(--primary-text);
        }

        .note-icon {
            background-color: var(--primary-text);
        }
    }
}