<div class="modal-backdrop" (click)="onBackdropClick($event)">
    <div class="modal-wrapper" (click)="$event.stopPropagation()">
        <h3>Alterar senha</h3>

        <form [formGroup]="passwordForm" (ngSubmit)="submit()">
            <ng-container>
                <label for="currentPassword">Senha atual</label>
                <div class="password-wrapper">
                    <input nz-input type="password" formControlName="currentPassword" id="currentPassword"
                        placeholder="Digite sua senha atual" />
                </div>

                <label for="newPassword">Nova senha</label>
                <div class="password-wrapper">
                    <input nz-input [type]="passwordVisible() ? 'text' : 'password'" formControlName="newPassword"
                        id="newPassword" (input)="checkPasswordStrength()" placeholder="Digite a nova senha" />
                    <span class="toggle-password-btn iconify-1rem" (click)="togglePasswordVisibility()"
                        [ngClass]="passwordVisible() ? 'eye-icon' : 'eye-closed-icon'"></span>
                </div>

                <label for="confirmPassword">Confirmar nova senha</label>
                <div class="password-wrapper">
                    <input nz-input [type]="confirmVisible() ? 'text' : 'password'" formControlName="confirmPassword"
                        id="confirmPassword" placeholder="Confirme a nova senha" />
                    <span class="toggle-password-btn iconify-1rem" (click)="toggleConfirmVisibility()"
                        [ngClass]="confirmVisible() ? 'eye-icon' : 'eye-closed-icon'"></span>
                </div>

                <div class="password-strength-bar">
                    <div class="bar" [ngClass]="{
            'very-weak': passwordStrength() === 1,
            'weak': passwordStrength() === 2,
            'medium': passwordStrength() === 3,
            'strong': passwordStrength() === 4
          }"></div>
                </div>

                <div class="password-strength-container">
                    <p class="password-strength-text">
                        {{
                        passwordStrength() === 1 ? 'Muito fraca' :
                        passwordStrength() === 2 ? 'Fraca' :
                        passwordStrength() === 3 ? 'Forte' :
                        passwordStrength() === 4 ? 'Extremamente forte' : ''
                        }}
                    </p>
                    <ul class="password-checklist">
                        <li>Sua nova senha deve conter ao menos 3 dos critérios abaixo:</li>
                        <li [ngClass]="{ met: passwordChecks().length }">• Pelo menos 10 caracteres</li>
                        <li [ngClass]="{ met: passwordChecks().letters }">• Contém letras (a-z, A-Z)</li>
                        <li [ngClass]="{ met: passwordChecks().numbers }">• Contém números (0-9)</li>
                        <li [ngClass]="{ met: passwordChecks().special }">• Contém caracteres especiais (!&#64;#$%)</li>
                    </ul>
                </div>

                <div class="step-buttons">
                    <button nz-button nzType="primary" type="submit">Alterar senha</button>
                </div>
            </ng-container>
        </form>
    </div>
</div>